body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to left, #000000 0%, #686868 100%);
}
.chat{
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

::-webkit-scrollbar {
  width: 5px; /* Set width for vertical scrollbar */
  height: 10px; /* Set height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
 
  border-radius: 5px;
  background: #505050; /* Color of the track (background) */
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: #c4c4c4; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff; /* Color of the scrollbar thumb on hover */
}

.header {
  background-color: #b5daff;
  padding: 10px;
}



.message-container {
  height: 100%;
  overflow-y: scroll;
  background: transparent;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.textmessage.received {
  background-color: #232323;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  max-width: 70%;
  border-radius: 0 15px 15px 25px;
  align-self: flex-start;
}

.textmessage.sent {
  max-width: 70%;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border-radius: 15px 0px 15px 15px;
  background-color:#686868;
  align-self: flex-end;
  color: #fff;
 
}
.textmessage .sent b{
  text-align: center;
  align-items: end;
}

#progressBar {
  width: 100px;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

#progressBarFill {
  height: 100%;
  width: 0%;
  background-color: #4caf50;
  transition: width 0.2s ease-in-out;
}
.imagemessage.received {
  background-color: #232323;
  margin-bottom: 10px;
  margin-right: 5px;
  max-width: 70%;
  border-radius: 0 15px 50px 50px;
  align-self: flex-start;
  color: #fff;
}

.imagemessage.sent {
  text-align: right;
  max-width: 70%;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px 0px 50px 50px;
  background-color:#686868;
  align-self: flex-end;
  color: #fff;

}
.imagemessage.sent b{
  text-align: right;
}

.imagemessage img{
  max-width: 100%;
  height: auto;
object-fit: contain;
}
.imagemessage.sent img {

border-radius: 15px 0px 15px 15px;

}

.imagemessage.received img {
  border-radius: 0px 15px 50px 50px;
  }
  
.videomessage.received {
  background-color:  #232323;
  margin-bottom: 10px;
  margin-right: 5px;
  max-width: 70%;
  border-radius: 0 50px 50px 50px;
  align-self: flex-start;
}

.videomessage.received b{
  margin-left: 10px;
}

.videomessage.sent {
  text-align: right;
  max-width: 70%;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50px 0px 50px 50px;
  background-color:#686868;
  align-self: flex-end;
}

.videomessage.sent b{
 text-align:left;
}
.videomessage video { 
max-width: 100%;
border-radius: 50px;
height: auto;
}

.docmessage.received{
  background-color: #232323;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  max-width: 70%;
  border-radius: 0 20px 20px 30px;
  align-self: flex-start;
  grid-template-columns: repeat(1, 1fr); /* Adjust the number and size as needed */
  grid-gap: 10px; /* Adjust the gap between images */
  place-items: center;
  color:#e5e5ea;
}

.docmessage.sent{
  background-color:#686868;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  max-width: 70%;
  border-radius: 20px 0px 20px 20px;
  align-self: flex-end;
  grid-template-columns: repeat(1, 1fr); /* Adjust the number and size as needed */
  grid-gap: 10px; /* Adjust the gap between images */
  place-items: center;
  color:#ffffff;
}
.file { 
max-width: 50%;
height: auto;
object-fit: container;
font-size: 60px;
margin: 10px;
color: #ffffff;
}

.docmessage.send.center{
  display: grid;
  place-items: center;
}

.filename{
font-size: larger;
max-width: 70%;
}

textarea {
resize: none;
}

#sendMessage{
  font-size: small;
}

#messageInput{
  font-size: small;
  height: 70%;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.addfilebox {
  display: fixed;
  width: 30%;
  border-radius: 5px 5px 5px 0px;
  margin-top:-150px;
 
}

.addfilebox.none {
  display: none;
}

.modal {
display: none;
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.623);
}

/* Style for the modal content */
.modal-content {
margin: auto;
width: 80%;
max-width: 700px;
height: 100%;
background-color: transparent;
border: none;
color: #ccc;
}

/* Style for the close button */
.close {
color: rgb(255, 0, 0);
position: absolute;
top: -50px;
font-size: 35px;
font-weight: bold;
cursor: pointer;
}

.image-grid {
display: grid;
grid-template-columns: repeat(1, 1fr); /* Adjust the number and size as needed */
grid-gap: 10px; /* Adjust the gap between images */
place-items: center;
}

.image-grid img {
width: 100%; /* Adjust the image size */
height: auto; /* Preserve the aspect ratio */
}

.video-grid {
display: grid;
grid-template-columns: repeat(1, 1fr); /* Adjust the number and size as needed */
grid-gap: 10px; /* Adjust the gap between images */
place-items: center;
}

.video-grid video {
width: 100%; /* Adjust the image size */
height: auto; /* Preserve the aspect ratio */
}

.sendPhotos {
position: fixed;
bottom: 0;
right: 0;
width: 20%;
}

.sendbtn{
font-size: 35px;
}

@media screen and (min-width: 760px) {
.chat {
width: 50%;
}

.message img {
width: 50%;
}

.message video {
width: 50%;
}

.imagemessage.received ,.imagemessage.sent {
max-width: 35%;
}

.videomessage.received ,.videomessage.sent {
max-width: 35%;
}

.image-grid {
display: grid;
grid-template-columns: repeat(2, 1fr); 
grid-gap: 10px; 
}

.video-grid {
display: grid;
grid-template-columns: repeat(2, 1fr); 
grid-gap: 10px;
}
b{
font-size: larger;
}
}

b{
font-size: large;
}
